#content>ul{
	display:grid;
	grid-template-columns: repeat(4 ,1fr);
	grid-column-gap:20px;
	grid-row-gap:20px;


      padding: 0 5% 0 5%;
      margin-top: 100px;

	padding-top:20px;
	padding-bottom: 20px;
}
.works{
  border: 2px outset black;
	cursor:pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color:grey;
	width:auto;
}

.worksPictures{
	max-height:400px;
	width: 100%;
}
.pictureName{
	margin:0;
	background-color: #595959;
	text-align:center;
}
#enlargedImg{
display:none;
}
#activeImage{
	width:100%;
	position:absolute;
}
#activeImageImg{
  border: 4px outset white;
	background-color:gray;
}
#closeLargedImg{
      top: 0;
	width:100%;
    position: absolute;
background-color: rgba(0,0,0,0.8);
}
#activeImageImg{
	position:absolute;
      max-width: 90%;
}