*{
	list-style:none;
}
body{
	margin:0;
	background:url(../img/shattered-island-light.gif);
	font-family:Tahoma;
	font-size:200%;
	color:white;
}
header{
	width:100%;
	position: absolute;
	box-shadow:0 20px 30px rgba(0,0,0,0.7);;
	background:url(../img/shattered-island.gif);
	height:100px;
	text-align: center;
	line-height: 100px;
}
a:active,a:visited,a{
color:white;
text-decoration:none;
}
header>a{
display:inline-block;
transform: skewX(-15deg);
}
header>a:hover,#saveButton:hover{
	cursor:pointer;
	background-color:rgba(168, 168, 168, 0.3);
}
#content{
	position: absolute;
	z-index: -1;
	width:100%;
}
#container{
      padding: 0 5% 0 5%;
      margin-top: 100px;
}
#canvas{
	    box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color:#D4D4D4;
  margin-top: 100px;
	border:2px solid black;
}
#saveButton{
    padding: 2px;
		border:2px outset white;
		transform: skewX(-15deg);
    position: absolute;
   	margin-top: 47.5px;
		margin-right: 5%;
    right: 0;
    cursor:pointer;
}

#canvasName{
	border: 2px outset white;
  color: white;
  background-color: rgba(0,0,0,0.3);
  margin-top: 54px;
	position:absolute;
	font-size: 30px;
}

#img{
			display: none;
      margin-top: 130px;
}