body{
margin:0;
padding:10px;
font-size:16px;
line-height:1.6;
font-family:"Helvetica",sans-serif;
font-weight:bold;
position:relative;
overflow-x:hidden;
color:#236E25;
}
#curve_chart{
	margin-top:10px;
	border: 2px solid black;
}
#example{
	padding:2px;
	border: 2px solid black;
	cursor:pointer;
}