

body{
		background-color:#5076b0;
		font-family: 'Russo One', sans-serif;
}

header{
		height:90px;
		background-color:#3e476f;
    line-height: 90px;
}
#logo{ 
	padding-right:0;
	text-align:center;
		display: inline-block;
	}

nav>ul>li{
  text-align: center;
	display:inline-block;
	width:80px;
}
nav{
	text-align:center;
	display:inline-block;
}
a{
	color:black;
}
nav>ul>li:hover,#logo:hover,a:hover{
	color:black;
	cursor:pointer;
	background-color:#49598c;
	text-decoration:none;
}
#loginMenu{
	line-height:30px;
	display:inline-block;
}
.remember{
	display:inline-block;
}
.logn{
  text-align: right;
	line-height:15px;
	padding-top:5px;
}
.login>input,.password>input{
	width:125px;
}
.login>input{
      margin-left: 35px;
}
.login,.password,.remember{
	float:right;
	width:100%;
	padding-right:5px;
}
