#login{
	margin-left:23px;
}
div{
	margin-top:5px;
}
.remember,button{
	display:inline-block;
}
.button{
    margin-left: 35px;
    margin-bottom: 5px;
}
#content{
	padding-left:1px;
	padding-top:1px;
	background-color:#89b4c4;
	    width: 250px;
}