

body{
	color:white;
		background-color:black;
		font-family: 'Russo One', sans-serif;
}
a,a:hover,nav>ul>li:hover,#logo,#logo:hover,nav>ul>li>a:hover{
	color:white;
}
header{
		height:90px;
		background-color:#242424;
    line-height: 90px;
}
#logo{ 
	padding-right:0;
	text-align:center;
		display: inline-block;
	}

nav>ul>li{
  text-align: center;
	display:inline-block;
	width:90px;
}
nav{
	text-align:center;
	display:inline-block;
}
a,a:hover{
	text-decoration:none;
}
nav>ul>li:hover,#logo:hover,nav>ul>li>a:hover{
	cursor:pointer;
	background-color:#3d3d3d;
	text-decoration:none;
}
#loginMenu{
	line-height:30px;
	display:inline-block;
}
.remember{
	display:inline-block;
}
.logn{
  padding-right: 0;
  text-align: right;
	line-height:15px;
	padding-top:5px;
}
.login>input,.password>input{
	width:125px;
}
.login>input{
      margin-left: 35px;
}
.login,.password,.remember{
	float:right;
	width:100%;
	padding-right:5px;
}

/*content*/
.row{
margin-right:0;
margin-left: 0;
}
.content{
	margin-top:10px;
}
/*dinamicContent*/
.dinamicContent{
	width:100%;
	background-color:#242424;
}
.lastNewsItem>img{
	width:50%;
}
#container>img{
	width:50%;
}
.welcome{
	text-align:center;
}
.ItemDescription{
}
/*Sidebar*/
#sidebar{
  padding-right: 0;
	text-align:center;
}
.sidebarElement{
	margin-top:5px;
	cursor:pointer;
	background-color:#242424;
	width:100%;
	height:auto;
}
.sidebarElement:first-child{
	margin-top:0;
}
.sidebarElementName{
margin-bottom:0px;
}
.sidebarImg{
	width:100%;
	height:auto;
}
.sidebarTitle{
max-height:50px;
text-overflow: ellipsis;
overflow: hidden;
margin-bottom:0px;
}
.sidebarElement:hover{
	background-color:#3d3d3d;
}

/*Footer*/
footer{
	margin-top:10px;
	text-align:center;
	width:100%;
background-color:#242424;
}